// The main design rules for cryptoscamdb

@import 'variables';
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: $backgroundColor;
    color: $fontColor;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;

    a {
        color: $linkColor;
        text-decoration: none;
    }

    #header {
        padding: 2em 5em 2em 5em;

        &--container {
            width: 100%;
            display: flex;

            &-brand {
                flex: 0 0 55%;
            }

            &-navigation {
                flex: 1;
                text-align: right;
                ul {
                    text-align: right;
                    list-style-type: none;
                    display: inline;

                    li {
                        display: inline-block;
                        padding-left: 2em;
                    }
                }

                a {
                    &:active {
                        padding-bottom: 1em;
                        border-bottom: 1px solid $fontColor;
                    }
            
                    &:hover {
                        padding-bottom: 1em;
                        border-bottom: 1px solid $fontColor;
                    }
                }
            }
        }
    }

    #main-view {

        background: url("../images/logo/robot-and-bg.png") no-repeat;
        background-size: cover;
        height: 100vh;

        &--container {
            margin-top: 2em;
            padding: 5em;
        }

        #blurb {
            border-left: 1px solid $fontColor;
            padding-left: 1em;
            width: 30%;
            margin-bottom: 3em;

            &--extra {
                margin-top: 5em;
                width: 40%;
                display: flex;

                h3 {
                    font-weight: 600;
                }

                p {
                    width: 70%;
                }

                &-opensource {
                    flex: 0 0 50%;
                }

                &-donate {
                    flex: 1;

                    ul {
                        list-style-type: none;
                        display: inline;

                        li {
                            display: inline-block;
                            padding: 1em;
                        }
                    }
                }
            }
        }
    }

    #scams-view {

        &--container {
            margin-top: 2em;
            padding: 5em;

            #heading {
                color: $table-th-color;
                text-transform: uppercase;
                margin: auto auto;
                margin-left: 15%;
            }
        }
    }

    #domain-view {
        &--container {
            margin-top: 2em;
            padding: 5em;

            .heading {
                text-transform: uppercase;
                color: $table-th-color;
                font-weight: 800;
                padding-right: 0.5em;

                &--sub {
                    color: $fontColor;
                    font-weight: 800;
                    padding-right: 0.5em;
                }
            }

            #social {
                list-style-type: none;
                display: inline;

                li {
                    display: inline-block;
                    padding: 1em;
                }
            }
        }

        &--details-container {
            display: flex;

            
            &-left {
                flex-direction: column;
                flex: 1;
            }

            &-right {
                flex-direction: column;
                flex: 1;
            }
        }
    }

    #verified-view {
        &--container {
            margin-top: 2em;
            padding: 5em;

            #heading {
                color: $table-th-color;
                text-transform: uppercase;
                margin: auto auto;
                margin-left: 15%;
            }
        }
    }

    #mission-view {
        &--container {
            margin-top: 2em;
            padding: 5em;

            #heading {
                color: $table-th-color;
                text-transform: uppercase;
                margin: auto auto;
                margin-left: 5%;
            }
        }
    }

    #faq-view {
        &--container {
            margin-top: 2em;
            padding: 5em;

            #heading {
                color: $table-th-color;
                text-transform: uppercase;
                margin: auto auto;
                margin-left: 5%;
            }

            .faq {
                margin-left: 5%;
                margin-bottom: 0.5em;
                width: 751px;	
                padding: 10px 40px;

                .head {
                    height: 51px;	
                    border-radius: 2px;
                    background: linear-gradient(180.01deg, rgba(250,250,253,0.1) 0%, rgba(247,248,252,0.1) 28.22%, rgba(243,244,250,0.05) 100%);
                    line-height: 3;

                    span {
                        opacity: 1;
                        color: $table-th-color;
                        padding-left: 0.5em;
                    }

                    img {
                        float: right;
                        margin-right: 2em;
                        margin-top: 1.3em;
                    }
                }

                .body {
                    padding: 10px 0;
                    margin-bottom: 1em;
                }

                .hidden {
                    display: none;
                }
            }
        }
    }

    #report-view {
        &--container {
            margin-top: 2em;
            padding: 0em;

            #heading {
                color: $table-th-color;
                background: linear-gradient(45deg, #007999 0%, #0C3153 100%);
                text-transform: uppercase;
                margin: auto auto;
                padding-left: 5%;
                padding: 1em 5%;
            }
        }
    }

    footer {
        margin-top: 5em;
        background: url("../images/logo/powered-by-mycrypto.svg");
        background-repeat: no-repeat;
        background-position: left;
        height: 2.5em;
        width: 50%;
        bottom: 2.5em;
    }
}
