$backgroundColor: #001629;
$fontColor: #FFF;
$linkColor: #3A5F78;

/****************************
 ******* T A B L E S ********
 ****************************/
$table-background: #0B2E45;
$table-tr-color: #0D3146;
$table-th-color: #ebc561;
$table-td-scam-active: #8A3030;
$table-td-scam-inactive: #30608A;